@media (max-width: 720px) {
    .fotorama{
        width: 80%;
        margin-left: 6%;
    }

}

@media (max-width: 650px) {
    .fotorama{
        width: 80%;
        margin-left: 3%;
    }

}

@media (max-width: 540px) {
    .fotorama{
        width: 60%;
        margin-left: 3%;
    }

}

@media (max-width: 360px) {
    .fotorama{
        margin-left: 6%;
    }

}

@media (max-width: 330px) {
    .fotorama {
        margin-left: 12%;
    }

}

@media (max-width: 311px) {
    .fotorama {
        margin-left: 0;
    }

}