:root{
    --rositaBoton: rgb(155, 109, 121);
    --blancoHover: rgba(161, 161, 161, 0.7);
    --blanco: #fff;
    --colorActive: #555;
    
}

#button {
    background: var(--rositaBoton) url("../Img/up_32.png") no-repeat center center;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    visibility: hidden;
    border: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;

}

#button:hover {
    cursor: pointer;
    background-color: var(--blancoHover);
}