:root {
    --rosita: rgb(169, 128, 126);
    --rositaBoton: rgb(155, 109, 121);
    --blancoHover: rgba(0, 0, 0, 0.2);
    --negro: #000;

}

/* texto de SIGN UP del inicio del formulario */
.signUp {
    margin-top: 3rem;
    color: var(--blanco);
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 3rem;

}

/* div con el texto a un lado del checkbox */
.check {
    color: var(--blanco);
    font-size: 1.7rem;
    margin-bottom: 2rem;

}

/* cajita que tiene los elementos del formulario adentro, lo que esta pintado de color rosita */
.formulario {
    background-color: var(--rosita);
    width: min(54rem, 100%);
    height: 950px;
    margin: 0 auto;
    padding: 40px 20px 20px;

}

/* para encapsular los elementos y tener un mejor orden de donde está cada uno de estos */
.formulario fieldset {
    border: none;
    padding: 0 2rem;

}

.textField {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;

}

/* texto principal del formulario, lo que está arriba del textField del email */
.textField label {
    color: var(--blanco);
    font-weight: 400;
    margin-top: 2rem;
    margin-bottom: 0.6rem;
    display: block;
    font-size: 1.7rem;
    line-height: 150%;
    cursor: auto;

}

.textField .txtField {
    width: 100%;
    border: none;
    padding: 1rem;
    border-radius: 0.5rem;

}

.textField .boton {
    background: var(--rositaBoton);
    border: 0px;
    border-radius: 4px;
    color: var(--blanco);
    align-self: center;
    width: 165px;
    height: 40px;
    font-size: 1.7rem;
    font-weight: bold;
    margin-top: 1rem;
    cursor: pointer;


}

.textField .boton:hover {
    background: var(--blancoHover);


}

/* cuando se da clic y ahi se queda el focus, por ejemplo para llenar el textArea */
.textField .txtField:focus {
    background-color: var(--blanco);
    color: var(--negro);

}

.txtField {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.4rem;
    box-sizing: border-box;

}

.iframeMaps{
    margin-top: 3rem;
    align-self: center;
    
}

@media (max-width: 550px) {
    .iframeMaps{
        width: 250px;
        height: 200px;
        
    }
    

}

@media (max-width: 418px) {
    .formulario {
        width: 350px;
        height: 950px;
        margin: 0 auto;
        
    }

    .textField label {
        margin-top: 2rem;
        margin-bottom: 0.6rem;
        display: block;
        font-size: 1.4rem;
        line-height: 150%;
    
    }

    .check {
        font-size: 1.4rem;
    
    }

    .textField .boton {
        font-size: 1.4rem;
    
    
    }

}

@media (max-width: 350px) {
    .formulario {
        width: 350px;
        height: 950px;
        margin: 0 auto;
        
    }

    .textField label {
        margin-top: 2rem;
        margin-bottom: 0.6rem;
        display: block;
        font-size: 1.4rem;
        line-height: 150%;
    
    }

    .check {
        font-size: 1.4rem;
    
    }

    .textField .boton {
        font-size: 1.4rem;
    
    
    }

}

@media (max-width: 311px) {
    .formulario {
        width: 100%;
        height: 1000px;
        margin: 0 auto;
        
    }

    .textField label {
        margin-top: 2rem;
        margin-bottom: 0.6rem;
        display: block;
        font-size: 1.4rem;
        line-height: 150%;
        text-align: center;
    
    }

    .check {
        font-size: 1.4rem;
    
    }

    .textField .boton {
        font-size: 1.4rem;
    
    
    }

    .iframeMaps{
        width: 200px;
        height: 200px;
        
    }

}