#button2 {
    background: var(--rositaBoton);
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    left: 30px;
    visibility: hidden;
    border: none;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: 1000;

}

/* el logo para abrir el menu */
.logoMenu2 {
    border-radius: 50%;
    cursor: pointer;
    width: 50px;
    /*border: 1px solid var(--blanco);*/

}

#button2:hover {
    cursor: pointer;
    background-color: var(--blancoHover);
}