/* variables */
:root {
    --negro: rgb(12, 12, 12);
    --blanco: #fff;
    --hoverLinks: rgba(255, 255, 255, 0.8);

}

/* todo el HTML */
html {
    font-size: 62.5%;
    /* 1 rem va a valer 10 pixeles */
    box-sizing: border-box;
    /* modelo de las cajas*/

}

*,
*::before,
*::after {
    box-sizing: inherit;

}

/* todo el body */
body {
    background: linear-gradient(0deg, #5a2f41 0%, #38191f 27%, #010101 73%);
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

/* seccion del header */
.cabeza {
    display: flex;
    justify-content: flex-end;
    /*border: 1px solid var(--blanco);*/

}

/* seccion donde va el "a" e "img" */
.m83Logo {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: -0.6%;
    margin-left: 3.3%;

}

/* esta es la etiqueta "a" */
.tituloImg {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    width: 442px;
    height: 209px;

}

/* esta es la etiqueta "img" */
.imgTitulo {
    flex-grow: 1;
    width: 100%;
    /*border: 1px solid var(--blanco);*/

}

/* este es el padre de el icono del menu, el label */
.hamburger-menu {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    /*position: fixed;*/
    /*z-index: 20000000;*/
}

/* el logo para abrir el menu */
.logoMenu {
    cursor: pointer;
    width: 50px;
    margin-top: 40%;
    margin-right: 20%;
    /*border: 1px solid var(--blanco);*/

}

.menuCierre {
    width: 50px;
    margin-top: -66px;
    margin-bottom: 20px;
    /*border: 1px solid black;*/
    align-self: flex-end;

}



/* seccion del main */
.principal {
    display: flex;
    flex-direction: column;

}

/* primera parte de los parrafos */
.texto {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 80.5rem;

}

.texto p {
    /*border: 1px solid var(--blanco);*/
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    font-weight: 300;
    color: var(--blanco);

}

.seccionImagen1 {
    display: flex;
    justify-content: center;
    align-items: center;

}

.imgPrimer {
    display: flex;
    justify-content: center;
    width: 45%;
    /*border: 1px solid var(--blanco);*/

}

.primerImg {
    width: 100%;
    transition: all 0.3s;

}

.primerImg:hover {
    transform: scale(1.01);

}

.seccionImagen2 {
    /*border: 1px solid var(--blanco);*/
    display: flex;
    justify-content: center;
    align-items: center;

}

.segundaImg {
    width: 53%;

}

/* segunda parte de los parrafos */
.segundoTexto {
    display: flex;
    align-items: center;
    align-self: center;
    flex-direction: column;
    width: 80rem;

}

.segundoTexto p {
    /*border: 1px solid var(--blanco);*/
    margin-top: 3rem;
    font-size: 1.6rem;
    line-height: 1.6;
    text-align: center;
    font-weight: 300;
    color: var(--blanco);

}

.texto{
    margin-bottom: 3rem;
    
}

.texto a,
.segundoTexto a {
    color: var(--blanco);

}

/* para los links que dicen "here" en los parrafos principales */
.texto a:hover,
.segundoTexto a:hover {
    color: var(--hoverLinks);

}

/* titulos h2 */
.titulosH2{
    color: var(--blanco);
    margin-top: 3rem;
    font-size: 2rem;
    
}

.titulosH2Start{
    color: var(--blanco);
    margin-top: 3rem;
    font-size: 2rem;
    align-self: flex-end;
    
}

.titulosH2Bio{
    color: var(--blanco);
    margin-top: 3rem;
    margin-bottom: 4rem;
    font-size: 2rem;
    
}

/* titulo de Estilo */
#estilo{
    margin-top: 6.4rem;
    
}

/* iframe */
.videoYoutube {
    width: 769.6px;
    height: 432.51px;
    margin-top: 2rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    /*border: 1px solid var(--blanco);*/

}

.iframeVideo {
    margin-top: 3rem;
    width: 100%;
    height: 100%;
    border-color: var(--negro);

}

/* Galeria */
.galeria {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* Spotify */
.spotify {
    margin-top: 3%;
    margin-bottom: -2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


/* footer */
.piePagina {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
    margin-bottom: 10rem;

}

.piePagina p {
    color: var(--blanco);
    font-size: 1.3rem;
    margin-top: 3.8rem;


}

.redireccionPaginas a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.6rem;
    padding: 0 10px;

}

.redireccionPaginas2 {
    margin-top: 5rem;

}

.redireccionPaginas2 a {
    color: var(--blanco);
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0 10px;

}

.redireccionPaginas a:hover,
.redireccionPaginas2 a:hover {
    color: var(--hoverLinks)
}

/* medias toda la pagina */
@media (max-width: 1200px) {
    
    .m83Logo {
        margin-left: 4%;

    }

}

@media (max-width: 950px) {
    
    .m83Logo {
        margin-left: 5%;

    }

}

@media (max-width: 900px) {
    
    .videoYoutube {
        width: 90%;
        margin-top: -4rem;
        margin-bottom: -1.5rem;

    }

    .iframeVideo {
        width: 90%;
        height: 90%;
    }

    .texto,
    .segundoTexto {
        width: 60rem;

    }

}

@media (max-width: 780px) {
    
    .m83Logo {
        margin-left: 5.5%;

    }

}

@media (max-width: 720px) {
    .m83Logo {
        margin-left: 6.5%;

    }

    .texto,
    .segundoTexto {
        width: 50rem;

    }

    .imgPrimer {
        width: 55%;

    }

    .segundaImg {
        width: 63%;

    }

}

@media (max-width: 610px) {
    .iframeVideo {
        width: 90%;
        height: 70%;
    }

    .texto,
    .segundoTexto {
        width: 45rem;

    }

    .texto p,
    .segundoTexto p {
        font-size: 1.6rem;

    }

}

@media (max-width: 550px) {
    .m83Logo {
        width: 100%;
        height: 100%;
        margin-left: 12%;

    }

    .tituloImg {
        width: 100%;
        height: 100%;

    }

}

@media (max-width: 490px) {

    .texto,
    .segundoTexto {
        width: 38rem;

    }

}

@media (max-width: 390px) {
    .m83Logo {
        width: 100%;
        height: 100%;
        margin-left: 13%;

    }
    
    .videoYoutube {
        width: 90%;
        margin-top: 0;
        margin-bottom: 0;

    }

    .iframeVideo {
        width: 100%;
        height: 50%;
    }

    .texto,
    .segundoTexto {
        width: 30rem;

    }

    .imgPrimer {
        width: 65%;

    }

    .segundaImg {
        width: 73%;

    }

}

@media (max-width: 350px) {
    .m83Logo {
        width: 100%;
        height: 100%;
        margin-left: 20%;

    }

    .logoMenu {
        width: 50px;
        margin-right: -35%;
        /*border: 1px solid var(--blanco);*/

    }

    .videoYoutube {
        margin-left: 5%;

    }

    .texto,
    .segundoTexto,
    .imgPrimer,
    .segundaImg {
        margin-left: 5%;
        
    }

    .menuCierre {
        width: 55px;
        margin-top: -67px;
        margin-right: 9%;

    }

}

@media (max-width: 330px) {
    .m83Logo {
        width: 100%;
        height: 100%;
        margin-left: 25%;

    }

    .videoYoutube {
        margin-left: 10%;

    }

    .logoMenu {
        width: 50px;
        margin-right: -60%;
        /*border: 1px solid var(--blanco);*/

    }

    .texto,
    .segundoTexto,
    .imgPrimer,
    .segundaImg {
        margin-left: 8%;
        
    }

    .menuCierre {
        width: 64px;
        margin-top: -72px;
        margin-right: 18%;

    }

}

@media (max-width: 320px) {
    .m83Logo {
        width: 100%;
        height: 100%;
        margin-left: 28%;

    }

    .videoYoutube {
        margin-left: 12%;

    }

    .logoMenu {
        width: 50px;
        margin-right: -70%;
        /*border: 1px solid var(--blanco);*/

    }

    .texto,
    .segundoTexto,
    .imgPrimer,
    .segundaImg {
        margin-left: 12%;
        
    }

    .menuCierre {
        
        margin-top: -71px;
        margin-right: 20.5%;

    }

}

@media (max-width: 311px) {
    .m83Logo {
        width: 100%;
        height: 100%;
        margin-left: 12%;

    }

    .logoMenu {
        width: 40px;
        margin-top: 70%;
        margin-right: 20%;
        /*border: 1px solid var(--blanco);*/

    }

    .videoYoutube {
        margin-left: 0;
    }

    .redireccionPaginas a {
        font-size: 1.4rem;

    }

    .redireccionPaginas2 a {
        font-size: 1.2rem;

    }

    .piePagina p {
        font-size: 1.1rem;

    }

    .texto,
    .segundoTexto {
        width: 25rem;
        margin-left: 0;

    }

    .imgPrimer {
        width: 75%;
        margin-left: 0;

    }

    .segundaImg {
        width: 83%;
        margin-left: 0;
        
    }

    .menuCierre {
        width: 50px;
        margin-top: -73px;
        margin-right: -2px;

    }

}

@media (max-width: 280px) {
    .logoMenu {
        margin-top: 40%;
        margin-right: -20%;
        /*border: 1px solid var(--blanco);*/

    }

    .m83Logo {
        width: 100%;
        height: 100%;
        margin-left: 20%;

    }

    .tituloImg {
        width: 100%;
        height: 100%;

    }

    .texto,
    .segundoTexto {
        width: 20rem;

    }

    .formulario {
        width: 100%;
        height: 1000px;
        margin: 0 auto;
        
    }

    .menuCierre {
        width: 50px;
        margin-top: -70px;
        margin-right: 10px;

    }

}