/* Personalizando boton de la ventana PopUp */
:root {
    --rositaHover: #A36C79;
    --rosaMenu: #ab7477;
    --azulMenu: #9aaecb;
    --blanco: #fff;
    --negro: #000;
    --rojito: #5a2f41;

}

/* boton de la ventanita */
.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: var(--rosaMenu);
    font-size: 12px;
    color: var(--blanco);
    
}

.swal-button:hover {
    color: var(--negro);

}

/* ventanita */
.swal-modal {
    background: linear-gradient(0deg, #5a2f41 0%, #38191f 27%, #010101 73%);
    border: none;
}

/* titulo de la ventana, que en realidad es el texto que se muestra en ciertas situaciones */
.swal-title {
    color: var(--blanco);
}

/* texto normal, mas pequenio */
.swal-text {
    color: var(--blanco);
}